<%= simple_form_for  booking,
  data: {
    insert_in_list_target: "form", # same as data-insert-in-list-target="form"
    action: "submit->insert-in-list#send" # same as data-action="submit->insert-in-list#send"
  } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :start_date,
      as: :string, # same as input type="text"
      input_html: {
        data: {
          controller: "datepicker" # same as data-controller="datepicker"
        }
      }
    %>
    <%= f.input :end_date,
      as: :string, # same as input type="text"
      input_html: {
        data: {
          controller: "datepicker" # same as data-controller="datepicker"
        }
      }
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
