<div  class="container mw-100 p-4">
   <div  class="row justify-content-center">
      <div  class="col-sm-8">
         <%= form_with url: tools_path, method:  :get, class: "d-flex form-index-bar"  do |form| %>

            <div class="form-index-field form-index-first d-flex justify-content-center align-items-center p-2">
              <%= form.select :category, Tool::CATEGORIES, prompt: "Catégorie" %>
            </div>
            <%= form.hidden_field :positionLong, data: { "position-target": "long" } %>

            <%= form.hidden_field :positionLat, data: { "position-target": "lat" } %>

            <div class="form-index-field d-flex justify-content-center align-items-center p-2">
              <%= form.range_field :distance, in: 0..50, step: 5, value: 5, oninput: "this.nextElementSibling.value = this.value" %>
              <output>5</output>
              <output>km</output>
            </div>

            <div class="form-index-field d-flex justify-content-center align-items-center p-2">
              <output>Du:  </output>
              <%= form.text_field :start_date,
                data: {
                  controller: "datepicker" # same as data-controller="datepicker"
                }
              %>
            </div>

            <div class="form-index-field d-flex justify-content-center align-items-center p-2">
              <output>Au:  </output>
              <%= form.text_field :end_date,
                data: {
                  controller: "datepicker" # same as data-controller="datepicker"
                }
              %>
            </div>

            <%= submit_tag "Rechercher", name:  "", class:  "btn-index btn-primary"  %>

          <%  end  %>
       </div>
    </div>
</div>
