<div class="banner">
  <div class="container">
    <h4>Mon voisin n'utilise pas sa perceuse...</h4>
    <h1>BricoTroc : et si on changeait d'époque ?</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center m-3">
    <div class="col-sm">
      <%= render "form", tool: @tool %>
    </div>
  </div>
</div>

<div class="row row-cols-md-3 row-cols-lg-4 g-4 card-group mt-2 mx-5 p-5">
  <% @tools.each do |tool| %>
    <div class="col-sm-3">
      <%= link_to tool_path(tool), class: 'text-decoration-none' do %>
        <div class="index-card-tool">
          <img src="https://media.adeo.com/media/1417181/visu-chim-ne-2-jpg5c17c08045a8dc00011ee806.jpg?width=582&format=jpg&crop=16:9" alt="Card image cap"/>
          <div class="index-card-tool-infos">
              <h2><%= tool.name %></h2>
              <div>
                <% tool.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </div>
          </div>
          <div class="index-card-tool-desc">
            <p><i class="fa-solid fa-wrench"></i><strong>Catégorie : </strong><%= tool.category %></p>
            <p><i class="fa-solid fa-tag"></i><strong>Marque : </strong><%= tool.brand %></p>
            <p><i class="fa-solid fa-ranking-star"></i><strong>Etat : </strong><%= tool.condition %></p>
            <p><i class="fa-solid fa-location-dot"></i><strong>Disponible à : </strong>DISTANCE TO DO</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
