
<div class="container">
  <div class="row mt-4">
    <div class="col-8">
      <div class="image-cover">
        <div class="image-item">
          <%= cl_image_tag @tool.photos.first.key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="image-grid">
        <% @tool.photos.each do |photo| %>
          <div class="image-item">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# Tool information %>
  <div class="row mt-4">
    <div class="col-8">
      <h2><%=@tool.name %></h2>
      <div class="">
        <div class="">
          <div>
            <p><%=@tool.description %></p>
          </div>
          <div class="mb-2">
            <% @tool.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </div>
          <div class="index-card-tool-desc">
            <p><i class="fa-solid fa-wrench"></i><strong>Catégorie : </strong><%= @tool.category %></p>
            <p><i class="fa-solid fa-tag"></i><strong>Marque : </strong><%= @tool.brand %></p>
            <p><i class="fa-solid fa-location-dot"></i><strong>Disponible à : </strong>DISTANCE TO DO</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="booking-form">
        <%= simple_form_for [@tool, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :start_date, label: "début", as: :string, input_html: { data: { controller: "datepicker"}}%>
          </div>
          <div class="form-inputs">
            <%= f.input :end_date, label: "fin", as: :string, input_html: { data: { controller: "datepicker"}}%>
          </div>
          <div class="form-inputs">
            <%= f.submit "Reserver", class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Gallery -->
</div>
