
<div class="container h-100 d-flex flex-column mt-4">
  <div class="row h-40">
    <div class="col-lg-8 col-md-12 mb-4 mb-lg-0">
      <%= image_tag "perceuse.jpeg", alt: @tool.name, class: "w-100 shadow-1-strong rounded mb-4"%>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <%= image_tag "perceuse.jpeg", alt: @tool.name, class: "w-100 shadow-1-strong rounded mb-4"%>
      <%= image_tag "perceuse.jpeg", alt: @tool.name, class: "w-100 shadow-1-strong rounded mb-4"%>
    </div>
  </div>
  <%# Tool information %>
  <div class="row flex-grow-1">
    <div class="col-8">
      <h2><%=@tool.name %></h2>
      <div class="card-tool rounded">
        <div class="card-tool-infos">
          <div>
            <p><%=@tool.description %></p>
          </div>
          <h2 class="card-tool-pricing"><%=@tool.category%></h2>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= simple_form_for [@tool, @booking] do |f| %>
        <%= f.input :start_date, as: :string, min: 0.days.ago, input_html: { data: { controller: "datepicker" }}%>
        <%= f.input :end_date, as: :string, min: 0.days.ago, input_html: { data: { controller: "datepicker" }}%>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <!-- Gallery -->
</div>
