<div class="banner" id="banner-bookings">
  <div class="container text-center">
    <h1 class="mb-3">Mes réservations
      <i class="fa-solid fa-circle mx-3"></i>
      <%= @bookings.count %>
      <i class="fa-solid fa-circle mx-3"></i>
    </h1>
  </div>
</div>

<div class="row row-cols-md-3 row-cols-lg-4 g-4 card-group mt-2 mx-5 p-5">
  <% @bookings.sort_by{ |booking| booking.start_date }.each do |booking| %>
    <div class="col-sm-3">
      <div class="index-card-tool">
        <div class="trash-icon">
          <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can" style="color: $blue"></i>
          <% end %>
        </div>
        <%= cl_image_tag booking.tool.photos.first.key, height: 300, width: 400, crop: :thumb %>
        <div class="index-card-tool-dates text-center mt-2">
          <%= booking.start_date %>
          <i class="fa-solid fa-circle-chevron-right mx-3"></i>
          <%= booking.end_date %>
        </div>
        <h5 class="m-3"><%= link_to booking.tool.name, tool_path(booking.tool), class: "text-decoration-none", style: "color: $blue" %></h5>
      </div>
    </div>
  <% end %>
</div>
